body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body{ font-size: 12px;background: #226039 url(../images/bg-girl.jpg) center 0 scroll no-repeat; color: #5d5d5d; }
div.phwall{
	background:#3c7a48;
}
div.wall{
	font: bold 30px "微软雅黑";
	color:#fff;
}
div.phwall div.h5_1{
	margin-top: 20px;

}
div.phwall div.h5_1 div{
    float: left;
    font: normal 20px "微软雅黑";
	color:#fff;
	margin-left: 20px;
}
.clearfox:after{
	content:"";
	display: block;
	clear: both;
	height: 0px;
}
.h5_one a{
	text-decoration: none;
	color: #fff;

}
.h5_two,.h5_one{
  margin-top:50px; 
}